/* COMMON */

.primary-container{
  background-color: #1ABC9C;
  color: white;
}

.secondary-container{
  background-color: white;
  color: black;
  padding: 40px 0 60px 0;
}

.ta-center{
  text-align: center;
}

.ta-right{
  text-align: right;
}

h3{
  font-size: 35px;
  font-weight: bold;
}

h2{
  font-size: 45px;
  font-weight: bold;
}

h4{
  font-size: 25px;
}

.my-btn{
  background-color: #1ABC9C;
  border: 1px solid white;
  color: white;
}

.star span{
  background: #fff;
  padding:0 10px
}

.primary-container .star:before,
.primary-container .star:after {
  background-color: white;
}

.secondary-container .star:before,
.secondary-container .star:after {
  background-color: #2C3E50;
}

.secondary-container .star i{
  color: white;
}

.secondary-container .star i{
  color: #2C3E50;
}

.star:before,
.star:after {
  content: "";
  display: inline-block;
  height: 4px;
  vertical-align: text-top;
  width: 10%;
}

.star:before {
  right: 0.5em;
  margin-left: -50%;
}

.star:after {
  left: 0.5em;
  margin-right: -50%;
}

.star{
  padding: 20px 0 15px;
  margin-bottom: 0;
}

.star i{
  font-size: 40px;
  padding: 0 40px;
}
/* FINE COMMON */


/* HEADER */
/* Nav */
.title h4{
  margin: 0;
  line-height: 50px;
  font-weight: bold;

}

.nav-container{
  background-color: #2C3E50;
  color: white;
  padding: 20px 0;
}

.menu{
  list-style-type: none;
  margin-bottom: 0px;
}

.nav-container .menu li{
  display: inline-block;
  line-height: 50px;
  margin-left: 20px;
}

.nav-container a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.burger a{
  line-height: 50px;
  font-size: 20px;
}

a:hover,
.footer-top li:hover,
.footer-top li:hover a{
  color: #1ABC9C;
  cursor: pointer;
}

.footer-top li:hover{
  border: 1px solid #1ABC9C;
}
/* Banner */

.banner{
  padding: 40px 0 30px 0;
}

 h1{
  font-size: 60px;
  font-weight: bold;
}

.banner img{
  width: 300px;
}
/* FINE HEADER */

/* MAIN */
/* Portfolio */

.works>*{
  padding-top: 30px
}

.card img{
  object-fit: cover;
  width: 100%;
}

/* About */
.about{
  padding: 40px 0;
}

.about .my-btn{
  margin-top: 30px;
}

/* Contact me */

.info-client label{
  font-size: 20px;
  font-weight: normal;
}

.info-client input{
  border: none;
  width: 100%;
  outline: none;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
}

.info-client input:focus{
  border-bottom: 1px solid black;
}
#msg{
  padding-top: 100px;
}
/* FINE MAIN */

/* FOOTER */
footer{
  color: white;
  text-align: center;
}

.footer-top{
  background-color: #3A546D;
  padding: 30px 0;
}

h5{
  font-size: 20px;
}

.social-links{
  list-style-type: none;
  padding-left: 0;
}

.social-links li{
  border: 1px solid white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  line-height: 60px;
  display: inline-block;
  margin-right: 10px;
}

.social-links li a{
  color: white;
  font-size: 22px;
}

.social-links li:last-child{
  margin-right: 0;
}

.footer-top span{
  color: #1ABC9C;
}

.footer-bottom{
  padding: 30px 0 20px 0;
  background-color: #2C3E50;
}
/* FINE FOOTER */


/* SEZIONE RESPONSIVE */

@media all and (max-width: 767px){

  /* Common */
  .my-btn{
    padding: 15px 35px;
    font-size: 25px;
  }
  
  /* About */
  .about .description p{
    font-size: 180%;
    width: 60%;
    margin: 0 auto;

  }

  .about .my-btn{
    margin-top: 60px;
  }


  /* Contact me */
  .contact-me{
    width: 60%;
    margin: 0 auto;
  }

  /* Footer top */
  .info-bottom{
    margin-bottom: 50px;
  }
}
