/* COMMON */
html{
  scroll-behavior: smooth;
}

.primary-section{
  background-color: #1ABC9C;
  color: white;
  padding: 40px 0 60px;
}

.secondary-section{
  background-color: white;
  color: black;
  padding: 40px 0 60px;
}

h3{
  font-size: 35px;
  font-weight: bold;
}

h2{
  font-size: 45px;
  font-weight: bold;
}

h4{
  font-size: 25px;
}

.star span{
  background: #fff;
  padding:0 10px
}

.primary-section .star:before,
.primary-section .star:after {
  background-color: white;
}

.secondary-section .star:before,
.secondary-section .star:after {
  background-color: #2C3E50;
}

.secondary-section .star i{
  color: white;
}

.secondary-section .star i{
  color: #2C3E50;
}

.my-btn{
  background-color: #1ABC9C;
  border: 1px solid white;
}

.star:before,
.star:after {
  content: "";
  display: inline-block;
  height: 4px;
  vertical-align: text-top;
  width: 10%;
}

.star:before {
  right: 5px;
  margin-left: -50%;
}

.star:after {
  left: 5px;
  margin-right: -50%;
}

.star{
  padding: 20px 0;
  margin-bottom: 0;
}

.star i{
  font-size: 40px;
  padding: 0 30px;
}

.container .about>*,
.container .contact>*{
  width: 90%;
  margin: 0 auto;
}
/* FINE COMMON */


/* HEADER */
/* Nav */
.title h4{
  margin: 0;
  line-height: 50px;
  font-weight: bold;
}

.nav-container{
  background-color: #2C3E50;
  color: white;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.menu{
  list-style-type: none;
  margin-bottom: 0px;
}

.nav-container .menu li{
  display: inline-block;
  line-height: 50px;
  margin-left: 20px;
}

.nav-container a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.burger a{
  line-height: 50px;
  font-size: 20px;
  color: grey;
  padding: 5px 12px;
  border: 1px solid white;
  border-radius: 5px;
}

.burger a:hover{
  background-color: white;
  color: #2C3E50;
}

.burger a:hover{
  color: #2C3E50;
}

a:hover{
  cursor: pointer;
  color: #1ABC9C;
}
/* Banner */
header .primary-section{
  margin-top: 90px;
}

h1{
  font-size: 60px;
  font-weight: bold;
}

.banner img{
  width: 300px;
}
/* FINE HEADER */

/* MAIN */
/* Portfolio */
.works > *:nth-child(1n+4){
  padding-top: 30px
}

.card img{
  object-fit: cover;
  width: 100%;
}

/* About */
.about p{
  font-size: 20px;
}

.about .my-btn{
  margin-top: 30px;
}

.about .my-btn:hover{
  background-color: white;
}

/* Contact me */
.contact .my-btn:hover{
  background-color: #17816c;
}

.contact .my-btn{
  color: white;
}

.my-form label{
  font-size: 17px;
  font-weight: normal;
}

.my-form input,
.my-form textarea{
  border: none;
  width: 100%;
  outline: none;
  border-bottom: 1px solid lightgrey;
  font-size: 20px;
  background-color: transparent;
  box-shadow: none;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

.my-form input::placeholder,
.my-form textarea::placeholder{
  color: rgba(44, 62, 80, 0.8);
}

.my-form input:focus::placeholder,
.my-form textarea:focus::placeholder{
  color: #2C3E50;
}

.my-form textarea:focus{
  box-shadow: 0 0 2px rgba(44, 62, 80, 0.5);
}
/* FINE MAIN */

/* FOOTER */
footer{
  color: white;
  text-align: center;
}

.footer-top{
  background-color: #3A546D;
  padding: 30px 0;
}

footer h4{
  font-size: 20px;
}

h5{
  font-size: 16px;
}

.social-links{
  list-style-type: none;
  padding-left: 0;
}

.social-links li{
  border: 1px solid white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  display: inline-block;
  margin-right: 10px;
}

.social-links li a{
  color: white;
  font-size: 16px;
}

.social-links li:hover{
  background-color: white;
  cursor: pointer;
}

.social-links li:hover a{
  color: #3A546D;
}

.social-links li:last-child{
  margin-right: 0;
}

.info-bottom a{
  color: #1ABC9C;
}

.info-bottom a:hover{
  color: #17816c;
  text-decoration: none;
}

.footer-bottom{
  padding: 30px 0 20px 0;
  background-color: #2C3E50;
}
/* FINE FOOTER */


/* SEZIONE RESPONSIVE */
@media all and (max-width: 767px){

  /* Common */
  .my-btn{
    padding: 15px 35px;
    font-size: 20px;
  }

  h1{
    font-size: 50px;
  }

  h2{
    font-size: 37px;
  }

  h4{
    font-size: 20px;
  }

  .container .about,
  .container .contact{
    width: 70%;
    margin: 0 auto;
  }

  /* Portfolio */
  .works > *:nth-child(1n+2){
    padding-top: 30px
  }

  /* About */
  .about .description{
    margin-bottom: 40px;
  }

  .description p{
    margin-bottom: 40px;
  }

  .about .my-btn{
    margin-top: 0;
  }

  /* Footer top */
  .info-bottom{
    margin-bottom: 50px;
  }
}
